<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pc Gallery || Graphics Card Carts</title>
    <link rel="stylesheet" href="/Graphics-Card/Style/Admin.Cart.View.css">
</head>
<body>
    <div class="brand-pc-area">
        <h3>Graphics Card Information's</h3>
    </div>

    <div class="pcs-main-container">
        <!-- Loop through each PC in the pcList -->
        <% graphicsCardList.forEach(card => { %>
        <div class="pc-id-<%= card.brand_pc_No %> pc-style">
            <!-- Display PC ID -->
            <span class="pc-id" style="display: none;"> <%= card.gp_card_No %> </span>

            <div class="upper-div">
                <!-- Display save amount if applicable -->
                <% if(card.cut_price && card.cut_price.length > 0) { %> 
                <% const cutPrice = parseFloat(card.cut_price.replace(',', '' )); %> 
                <% const price = parseFloat(card.final_price.replace(',', '' )); %> 
                <% const saveAmount = cutPrice - price; %>
                <div class="save-text">
                    <span>Save: <%= saveAmount.toLocaleString('en-US', { style: 'currency' , currency: 'BDT' , minimumFractionDigits: 0, maximumFractionDigits: 0 }) %></span>
                </div>
                <% } %>

                <!-- Display PC image -->
                <div class="images">
                    <div class="product-image" style="background-image: url('data:image;base64, <%= card.product_image_path %>')"></div>
                </div>
            </div>

            <div class="lower-div">
                <!-- Display PC name -->
                <div class="pc-name">
                    <a href="#"> <%= card.model %> </a>
                    <!-- Add list of items -->
                    <div class="list">
                        <ul>
                            <li>Type : <%= card.type %></li>
                            <li>Resolution : <%= card.resolution %></li>
                            <li>Stream Processor : <%= card.stream_processors %></li>
                            <li>Warranty : <%= card.warranty %></li>
                        </ul>
                    </div>
                    <hr class="line" />
                </div>

                <div class="price-and-buttons">
                    <!-- Display PC price -->
                    <div class="pc-price">
                        <div class="final-price">
                            <% const formattedPrice = parseFloat(card.final_price.replace(/[^0-9.-]+/g,"")); %>
                            <%= formattedPrice.toLocaleString('en-US', { style: 'currency' , currency: 'BDT' , minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>
                        </div>

                        <!-- Display cut price if applicable -->
                        <% if(card.cut_price && card.cut_price.length > 0) { %> 
                        <% const formattedCutPrice = parseFloat(card.cut_price.replace(/[^0-9.-]+/g,"")); %>
                        <div class="cut-price">
                            <%= formattedCutPrice.toLocaleString('en-US', { style: 'currency' , currency: 'BDT' , minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>
                        </div>
                        <% } %>
                    </div>

                    <!-- Buttons for updating and removing PC -->
                    <div class="buttons">
                        <div class="update-button">
                            <a href="/update-graphics-card/<%= card.gp_card_No %>">Update</a>
                        </div>
                        <input type="checkbox" id="checkbox-<%= card.gp_card_No %>" onclick="hideProduct('<%= card.gp_card_No %>')" <% if(card.Hide==1){ %> 
                        checked <% } %>>
                        <div class="remove-button">
                            <a href="/remove-graphics-card/<%= card.gp_card_No %>">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

    <script>
        function hideProduct(ID) {
          if (document.getElementById(`checkbox-${ID}`).checked) {
            window.location.href = `/Hide/Graphics-Card/${ID}`
            console.log(document.getElementById(`checkbox-${ID}`).checked);
          } else {
            window.location.href = `/Unhide/Graphics-Card/${ID}`
            console.log(document.getElementById(`checkbox-${ID}`).checked);
    
          }
        }
      </script>
    
</body>
</html>