<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pc Gallery || Brand PC Carts</title>
    <link rel="stylesheet" href="/Brand-Pc/Style/Admin.Cart.View.css">
    <link rel="stylesheet" href="/Navbar/nav-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <%- include("../../Navbar/nav-bar.ejs") %>

    <div class="full-outer">
        <div class="left-side">
            <!-- Sorting options on the left side -->
            <div class="sorting-container">
                <div class="s-range">
                    <label for="priceRange">Price Range:</label>
                    <input type="range" id="priceRange" name="priceRange" min="<%= low %>" max="<%= high %>" <% if
                        (priceRange=='0' ) { %>
                    value="<%= high %>"
                        <% } else { %>
                            value="<%= priceRange %>"
                                <% } %>
                                    />

                                    <div id="rangeValue">
                                    </div>
                </div>
                <div class="s-brand">
                    <label for="sortBrand">Sort by Ram:</label>
                    <select id="sortBrand">
                        <option value="0" <% if (size=='0' ) { %>
                            selected="selected" <% } %>>Any</option>
                        <option value="2" <% if (size=="2" ) { %>
                            selected="selected" <% } %>>2GB</option>
                        <option value="4" <% if (size=="4" ) { %>
                            selected="selected" <% } %>>4GB</option>
                        <option value="8" <% if (size=="8" ) { %>
                            selected="selected" <% } %>>8GB</option>
                        <option value="12" <% if (size=="12" ) { %>
                            selected="selected" <% } %>>12GB</option>
                        <option value="16" <% if (size=="16" ) { %>
                            selected="selected" <% } %>>16GB</option>
                    </select>
                </div>

                <div class="s-model">
                    <label for="sortModel">Sort by Model:</label>
                    <select id="sortModel">
                        <option value="0" <% if (model=='0' ) { %>
                            selected="selected" <% } %>>Any</option>
                        <option value="Pro DP180" <% if (model=="Pro DP180" ) { %>
                            selected="selected" <% } %>>Pro DP180 
                                Pentium</option>
                        <option value="OptiPlex " <% if (model=="OptiPlex " ) { %>
                            selected="selected" <% } %>>OptiPlex 
                        </option>
                        <option value="Veriton" <% if (model=="Veriton" ) { %>
                            selected="selected" <% } %>>Veriton</option>
                        <option value="ThinkCentre" <% if (model=="ThinkCentre" ) { %>
                            selected="selected" <% } %>>ThinkCentre </option>
                        <option value="IdeaCentre" <% if (model=="IdeaCentre" ) { %>
                            selected="selected" <% } %>>IdeaCentre </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="right-side">

            <div class="head">
                <div class="desktop"><span>Desktop</span></div>
                <div class="sort-by">
                    <select id="sortByPrice">
                        <option value="0" <% if (highOrLow=="0" ) { %>
                            selected="selected" <% } %>>Default
                        </option>
                        <option value="High-to-Low" <% if (highOrLow=="High-to-Low" ) { %>
                            selected="selected" <% } %>>High to
                                Low</option>
                        <option value="Low-to-High" <% if (highOrLow=="Low-to-High" ) { %>
                            selected="selected" <% } %>>Low to
                                High</option>
                    </select>
                </div>
            </div>

            <div class="pcs-main-container">
                <!-- Loop through each PC in the pcList -->
                <% brandPcList.forEach(pc => { %>
                <div class="pc-id-<%= pc.brand_pc_No %> pc-style">
                    <!-- Display PC ID -->
                    <span class="pc-id" style="display: none;"> <%= pc.brand_pc_No %> </span>
        
                    <div class="upper-div">
                        <!-- Display save amount if applicable -->
                        <% if(pc.cut_price && pc.cut_price.length > 0) { %> 
                        <% const cutPrice = parseFloat(pc.cut_price.replace(',', '' )); %> 
                        <% const price = parseFloat(pc.final_price.replace(',', '' )); %> 
                        <% const saveAmount = cutPrice - price; %>
                        <div class="save-text">
                            <span>Save: <%= saveAmount.toLocaleString('en-US', { style: 'currency' , currency: 'BDT' , minimumFractionDigits: 0, maximumFractionDigits: 0 }) %></span>
                        </div>
                        <% } %>
        
                        <!-- Display PC image -->
                        <div class="images">
                            <div class="product-image" style="background-image: url('data:image;base64,<%= pc.product_image_path %>')"></div>
                        </div>
                    </div>
        
                    <div class="lower-div">
                        <!-- Display PC name -->
                        <div class="pc-name">
                            <a href="/Desktop/Brand-Pc_id-<%= pc.brand_pc_No %>"> <%= pc.model %> </a>
                            <!-- Add list of items -->
                            <div class="list">
                                <ul>
                                    <li><%= pc.processor %></li>
                                    <li><%= pc.motherboard %></li>
                                    <li><%= pc.ram %></li>
                                    <li><%= pc._storage_ %></li>
                                </ul>
                            </div>
                            <hr class="line" />
                        </div>
        
                        <div class="price-and-buttons">
                            <!-- Display PC price -->
                            <div class="pc-price">
                                <div class="final-price">
                                    <% const formattedPrice = parseFloat(pc.final_price.replace(/[^0-9.-]+/g,"")); %>
                                    <%= formattedPrice.toLocaleString('en-US', { style: 'currency' , currency: 'BDT' , minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>
                                </div>
        
                                <!-- Display cut price if applicable -->
                                <% if(pc.cut_price && pc.cut_price.length > 0) { %> 
                                <% const formattedCutPrice = parseFloat(pc.cut_price.replace(/[^0-9.-]+/g,"")); %>
                                <div class="cut-price">
                                    <%= formattedCutPrice.toLocaleString('en-US', { style: 'currency' , currency: 'BDT' , minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>
                                </div>
                                <% } %>
                            </div>
        
                            <div class="buy-now-button">
                                <!-- Add shopping emoji -->
                  
                                <span class="shopping-emoji">🛒</span>
                                <a href="/Buy-Now/brand-pc-<%= pc.brand_pc_No %>">Buy Now</a>
                              </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>


    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
        
        const rangeInput = document.getElementById("priceRange");
        const rangeValueDisplay = document.getElementById("rangeValue");
        const sortBrand = document.getElementById("sortBrand");
        const sortModel = document.getElementById("sortModel");
        const sortByPrice = document.getElementById("sortByPrice");

        function constructURL() {
            const pcType = "<%= encodeURIComponent(pcType) %>";
            const priceRange = rangeInput.value;
            const brand = sortBrand.value;
            const model = sortModel.value;
            const highOrLow = sortByPrice.value;

            const url = `/Desktop/brand-pc-${encodeURIComponent(pcType)}-${encodeURIComponent(priceRange)}-${encodeURIComponent(brand)}-${encodeURIComponent(model)}-${encodeURIComponent(highOrLow)}`;
            window.location.href = url;
        }

        rangeInput.addEventListener("input", function () {
            rangeValueDisplay.textContent = rangeInput.value;
            constructURL();
        });

        sortBrand.addEventListener("change", function () {
            constructURL();
        });

        sortModel.addEventListener("change", function () {
            constructURL();
        });

        sortByPrice.addEventListener("change", function () {
            constructURL();
        });

        // Set initial value for range display
        rangeValueDisplay.textContent = rangeInput.value;
    </script>
    
    
</body>
</html>