<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selling History</title>
    <link rel="stylesheet" href="./Admin-selling-history.css">
</head>
<body>
    <div class="main">
        <% if(date1 != 0) { %>
            <div class="purchase">
                <h3>Purchase History from <%= date1 %>  to  <%= date2 %></h3>
            </div>
       <% } else { %>
        <div class="purchase">
            <h3>Purchase History</h3>
        </div>
      <% } %>

      
      <form action="/Product-selling-history-">
            <label for="from-date">From</label>
            <input type="date" name="form_date" required>
            <label for="to-date">To</label>
            <input type="date" name="to_date" required>
            <button type="submit">Find History</button>
        </form>

      <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>View Product</th>
                <th>Purchase Date</th>
                <th>Product Amount</th>
            </tr>
        </thead>
        <tbody>
        
            <% dataList.forEach((data)=>{ %>
                <tr>
                    <td><%= data.f%> <%= data.l%></td>
                    <td><%= data.email%></td>
                    <td><a href="/Desktop/<%=data.pCategory%>_id-<%=data.pid%>">View</a></td>
                    <td><%= new Date(data.pDate).toISOString().slice(0, 10); %></td>
                    <td><%= data.pAmount %></td>
                </tr>
            <%})%>
            
        </tbody>
    </table>
        

    </div>
</body>
</html>