<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selling History</title>
    <link rel="stylesheet" href="/Admin-users-questions.css" />
</head>

<body>
    <div class="main">
        <% if(date1 !=0) { %>
            <div class="Question">
                <h1>Question's from <%= date1 %> to <%= date2 %>
                </h1>
            </div>
            <% } else { %>
                <div class="Question">
                    <h1>Question History</h1>
                </div>
                <% } %>

                    <form action="/User/Questions">
                        <div class="from">
                            <label for="from-date">From</label>
                            <input type="date" name="from" required />
                        </div>
                        <div class="to">
                            <label for="to-date">To</label>
                            <input type="date" name="to" required />
                        </div>
                        <button type="submit">Find Questions</button>
                    </form>

                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>View Product</th>
                                <th>Question</th>
                                <th>Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% dataList.forEach((data)=>{ %>

                              
                                    <tr>
                                        <th>
                                            <%=data.f%>
                                                <%=data.l%>
                                        </th>
                                        <th>
                                            <%=data.email%>
                                        </th>
                                        <th>
                                            <a href="/Desktop/<%=data.category%>_id-<%=data.pId%>">View</a>
                                        </th>
                                        <th>
                                            <%=data.question%>
                                        </th>
                                        <th>
                                            <div class="input-update">
                                                <form action="/update/user/question" method="post">
                                                    <input type="text" name="date1" value="<%=date1%>" hidden />
                                                    <input type="text" name="date2" value="<%=date2%>" hidden />
                                                    <input type="text" name="productId" value="<%=data.pId%>" hidden />
                                                    <input type="text" name="category" value="<%=data.category%>"
                                                        hidden />
                                                    <div class="input">
                                                        <input type="text" name="answer" id="question"
                                                            value="<%=data.answer%>" required />
                                                    </div>
                                                    <div class="button">
                                                        <button type="submit">Update</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                    </tr>
                                        <% }) %>
                        </tbody>
                    </table>
    </div>

</body>

</html>