<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pc Gallery || Pc Information</title>
    <link rel="stylesheet" href="/test.cart.css" />
    <link rel="stylesheet" href="/nav-bar.css">
  </head>

  <body>

    <%- include ("nav-bar.ejs") %>

    <div class="laptops-main-container">
      <!-- Loop through each PC in the pcList -->
      <% pcList.forEach(pc=> { %>
      <div class="laptop-id-<%= pc.pc_information_No %> PcStyle">
        <!-- Display PC ID -->
        <span id="pc_id"> <%= pc.pc_information_No %> </span>

        <div class="upper-div">
          <!-- Display save amount if applicable -->
          <% if(pc.cut_price && pc.cut_price.length> 0) { %> <% const
          cutPrice=parseFloat(pc.cut_price.replace(',', '' )); %> <% const
          price=parseFloat(pc.price.replace(',', '' )); %> <% const
          saveAmount=cutPrice - price; %>
          <div class="save-text">
            <span
              >Save: <%= saveAmount.toLocaleString('en-US', { style: 'currency'
              , currency: 'BDT' , minimumFractionDigits: 0,
              maximumFractionDigits: 0 }) %></span
            >
          </div>
          <% } %>

          <!-- Display PC image -->
          <div class="images">
            <a href="/Desktop/Pc_id-<%= pc.pc_information_No %>">
                <div class="product-image" style="background-image: url('/Images/PC/<%= pc.product_image_path %>')"></div>
            </a>
          </div>
        </div>

        <div class="lower-div">
          <!-- Display PC name -->
          <div class="laptop-name">
            <a href="/Desktop/Pc_id-<%= pc.pc_information_No %>">
              <%= pc.model %>
            </a>
            <!-- Add list of items -->
            <div class="list">
              <ul>
                <li><%= pc.processor %></li>
                <li><%= pc.motherboard %></li>
                <li><%= pc.ram %></li>
                <li><%= pc.storage %></li>
              </ul>
            </div>
            <hr id="line" />
          </div>

          <div class="price-and-buttons">
            <!-- Display PC price -->
            <div class="laptop-price">
              <div class="final-price">
                <% const
                formattedPrice=parseFloat(pc.price.replace(/[^0-9.-]+/g,"")); %>
                <%= formattedPrice.toLocaleString('en-US', { style: 'currency' ,
                currency: 'BDT' , minimumFractionDigits: 0,
                maximumFractionDigits: 0 }) %>
              </div>

              <!-- Display cut price if applicable -->
              <% if(pc.cut_price && pc.cut_price.length> 0) { %> <% const
              formattedCutPrice=parseFloat(pc.cut_price.replace(/[^0-9.-]+/g,""));
              %>
              <div class="cut-price">
                <%= formattedCutPrice.toLocaleString('en-US', { style:'currency'
                , currency: 'BDT' , minimumFractionDigits: 0,
                maximumFractionDigits: 0 }) %>
              </div>
              <% } %>
            </div>

            <!-- Button for buying now -->
            <div class="buy-now-button">
              <!-- Add shopping emoji -->

              <span class="shopping-emoji">🛒</span>
              <a href="/Buy-Now/pc-<%= pc.pc_information_No %>">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
