<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pc Gallery || Ram Cart View's</title>
    <link rel="stylesheet" href="/ram_view.css">
    <link rel="stylesheet" href="/nav-bar.css">
</head>

<body>

    <%- include ("nav-bar.ejs") %>

    <div class="pcs-main-container">
        <% RamList.forEach(ram=> { %>
            <div class="pc-id-<%= ram.ram_id %>  pc-style">
                <span class="pc-id" style="display: none;">
                    <%= ram.ram_id %>
                </span>
                <div class="upper-div">
                    <% if(ram.cut_price && ram.cut_price.length> 0) { %>
                        <% const cutPrice=parseFloat(ram.cut_price.replace(',', '' )); %>
                            <% const price=parseFloat(ram.price.replace(',', '' )); %>
                                <% const saveAmount=cutPrice - price; %>
                                    <div class="save-text">
                                        <span>Save: <%= saveAmount.toLocaleString('en-US', { style: 'currency' ,
                                                currency: 'BDT' , minimumFractionDigits: 0, maximumFractionDigits: 0 })
                                                %></span>
                                    </div>
                                    <% } %>
                                        <div class="images">
                                            <div class="product-image"
                                                style="background-image: url('data:image;base64, <%= ram.product_image_path %>')">
                                            </div>
                                        </div>
                </div>

                <div class="lower-div">
                    <div class="pc-name">
                        <a href="/Desktop/Ram_id-<%= ram.ram_id %>">
                            <%= ram.brand %>
                                <%= ram.capacity %>
                                    <%= ram.model %> Desktop Ram
                        </a>
                        <div class="list">
                            <ul>
                                <li>Type : <%= ram.type %>
                                </li>
                                <li>Capacity : <%= ram.capacity %>
                                </li>
                                <li>Frequency : <%= ram.frequency %>
                                </li>
                                <li>Operation Voltage : <%= ram.operatingVoltage %>
                                </li>
                            </ul>
                        </div>
                        <hr class="line" />
                    </div>

                    <div class="price-and-buttons">
                        <div class="pc-price">
                            <div class="final-price">
                                <% const formattedPrice=parseFloat(ram.price.replace(/[^0-9.-]+/g,"")); %>
                                    <%= formattedPrice.toLocaleString('en-US', { style: 'currency' , currency: 'BDT' ,
                                        minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>
                            </div>

                            <% if(ram.cut_price && ram.cut_price.length> 0) { %>
                                <% const formattedCutPrice=parseFloat(ram.cut_price.replace(/[^0-9.-]+/g,"")); %>
                                    <div class="cut-price">
                                        <%= formattedCutPrice.toLocaleString('en-US', { style: 'currency' ,
                                            currency: 'BDT' , minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>
                                    </div>
                                    <% } %>
                        </div>

                        <div class="buy-now-button">
                            <!-- Add shopping emoji -->

                            <span class="shopping-emoji">🛒</span>
                            <a href="/Buy-Now/ram-<%= ram.ram_id %>">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>

</body>

</html>