<div class="product-slider-container">
    <div class="brand-pc-product-slider">

        <% brandPcList.forEach((brandPc)=>{ %>

            <div class="brand-pc-product-slide">
                <div class="pcs-main-container">
                    <div class="pc-id-<%= brandPc.brand_pc_No %> pc-style">
                        <span class="pc-id" style="display: none;"></span>
                        <div class="upper-div">
                            <div class="save-text">
                                <span>Save: <%= brandPc.saveText %></span>
                            </div>
                            <div class="images">
                                <div class="product-image"
                                    style="background-image: url('data:image;base64, <%= brandPc.product_image_path %>')"></div>
                            </div>
                        </div>
                        <div class="lower-div">
                            <div class="pc-name">
                                <a href="/Desktop/Brand-Pc_id-<%= brandPc.brand_pc_No %>"><%=brandPc.brand%> <%=brandPc.model%></a>
                                <div class="list">
                                    <ul>
                                        <li><%= brandPc.processor %></li>
                                        <li><%= brandPc.motherboard %></li>
                                        <li><%= brandPc.graphics_card %></li>
                                        <li><%= brandPc._storage_ %></li>
                                    </ul>
                                </div>
                                <hr class="line" />
                            </div>
                            <div class="price-and-buttons">
                                <div class="pc-price">
                                    <div class="final-price"><%= brandPc.final_price %></div>
                                    <div class="cut-price"><%= brandPc.cut_price %></div>
                                </div>
                                <div class="buy-now-button">
                                    <span class="shopping-emoji">🛒</span>
                                    <a href="/Buy-Now/Brand-Pc-<%= brandPc.brand_pc_No %>">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       <% }) %>


        <!-- Add more .brand-pc-product-slide elements as needed -->
    </div>
    <button class="product-prev" onclick="BrandPcProductPrevSlide()">❮</button>
    <button class="product-next" onclick="BrandPcProductNextSlide()">❯</button>
</div>